.services-section {
    background: linear-gradient(180deg, $color-blue-5 0%, rgba($color-blue-7, .92) 54.17%, $color-blue-6 100%);
    padding: 90px 0 184px;
    color: $color-white-1;
    @media (max-width: $lg) {
        padding: 70px 0;
    }
    &__container {
    }
    &__title {
        max-width: 1000px;
        margin: 0 auto 94px;
        text-align: center;
        @media (max-width: $lg) {
            margin-bottom: 70px;
        }
    }
    &__list {
        margin: 0 -22px -65px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: $xs) {
            margin-bottom: -40px;
        }
        &-card {
            max-width: 50%;
            margin-bottom: 65px;
            padding: 0 22px;
            display: flex;
            align-items: center;
            flex: 0 0 50%;
            @media (max-width: $md) {
                flex-direction: column;
            }
            @media (max-width: $xs) {
                max-width: 100%;
                margin-bottom: 40px;
                flex-basis: 100%;
            }
            &-picture {
                max-width: 148px;
                margin-right: 32px;
                flex: 0 0 148px;
                position: relative;
                z-index: 0;
                @media (max-width: $md) {
                    max-width: 120px;
                    margin: 0 0 -12px;
                    flex-basis: 120px;
                }
                &:before {
                    background: $color-white-1;
                    width: 146px;
                    height: 146px;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    filter: blur(27px);
                    z-index: -1;
                    @media (max-width: $md) {
                        width: 120px;
                        height: 120px;
                    }
                }
                img {
                    max-width: 100%;
                    height: auto;
                    margin: 0 auto;
                    display: block;
                }
            }
            &-content {
                @media (max-width: $md) {
                    text-align: center;
                }
            }
            &-title {
                margin: 0 0 8px;
                font-weight: bold;
                font-size: var(--fs-3);
                line-height: 1;
                font-family: $ff-3;
            }
            &-text {
                font-size: var(--fs-8);
                line-height: 1.68;
            }
        }
    }
}