.tariffs-section {
    padding: 80px 0 100px;
    @media (max-width: $lg) {
        padding: 70px 0;
    }
    &__container {
    }
    &__title {
        max-width: 780px;
        margin: 0 auto 84px;
        color: $color-black-3;
        line-height: 1.1;
        text-align: center;
        @media (max-width: $lg) {
            margin-bottom: 40px;
        }
    }
    &__list {
        margin: 0 -22px -20px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: $lg) {
            margin: 0 -8px -16px;
            flex-direction: column;
        }
        &-col {
            max-width: 33.333333%;
            margin-bottom: 20px;
            padding: 0 22px;
            flex: 0 0 33.333333%;
            @media (max-width: $lg) {
                max-width: 400px;
                margin: 0 auto 16px;
                padding: 0 8px;
                flex-basis: 100%;
            }
        }
        &-card {
        }
    }
}