#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: clip;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 var(--gap);
}

svg,
.u-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    color: inherit;
    fill: currentColor;
}

.img-cover {
    display: block;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.img-contain {
    display: block;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
    }
}

.area-click {
    --indent: -5px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: var(--indent);
        right: var(--indent);
        bottom: var(--indent);
        left: var(--indent);
    }
}

.link-cover {
    &:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }
}

.btn-reset {
    background: transparent;
    margin: 0;
    padding: 0;
    font-size: 0;
    outline: none;
    border: none;
    border-radius: 0;
}

.content {
    line-height: 1.5;
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
    p {
        margin: 0 0 1em;
    }
}

.u-title {
    font-weight: bold;
    font-size: var(--fs-12);
    line-height: 1;
    font-family: $ff-3;
    color: $color-green-4;
}

.u-suptitle {
    font-weight: bold;
    font-size: var(--fs-2);
    line-height: 1.3;
    font-family: $ff-3;
    color: $color-green-4;
}

.u-section-title {
    font-weight: normal;
    font-size: var(--fs-1);
    line-height: 1.2;
    font-family: $ff-3;
}

.btn {
    max-width: 100%;
    min-height: var(--btn-height);
    padding: var(--btn-padding-y) var(--btn-padding-x);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: inherit;
    font-size: var(--btn-font-size);
    font-family: $ff-2;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    outline: none;
    user-select: none;
    transition: all .24s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    &:hover {
        text-decoration: none;
    }
    &.disabled,
    &:disabled {
        opacity: .6;
        pointer-events: none;
    }
    &--theme {
        &-accent {
            background: radial-gradient(70.71% 70.71% at 50% 50%, $color-gray-3 0%, $color-gray-5 0%, $color-green-2 100%);
            color: $color-green-1;
            border-radius: 10px;
            box-shadow: inset 6px 6px 6px rgba($color-white-1, .25), inset -5px -5px 10px rgba($color-gray-4, .15), 0 6px 0 $color-green-3;
            &:hover {
                &:before {
                    @media (min-width: $lg-mf) {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &:focus,
            &:active {
                transform: translateY(6px);
                box-shadow: inset 6px 6px 6px rgba($color-white-1, .25), inset -5px -5px 10px rgba($color-gray-4, .15), 0 0 0 $color-green-3;
            }
        }
    }
    &--size {
        &-sm {
            --btn-height: 72px;
            --btn-padding-y: 24px;
            --btn-padding-x: 20px;
            --btn-font-size: 25px;
            @media (max-width: $sm) {
                --btn-height: 58px;
                --btn-padding-y: 16px;
                --btn-padding-x: 18px;
                --btn-font-size: 18px;
            }
        }
        &-md {
            --btn-height: 114px;
            --btn-padding-y: 46px;
            --btn-padding-x: 88px;
            --btn-font-size: var(--fs-6);
            @media (max-width: $sm) {
                --btn-height: 64px;
                --btn-padding-y: 24px;
                --btn-padding-x: 28px;
                --btn-font-size: 18px;
            }
        }
    }
    &--w {
        &-100 {
            width: 100%;
        }
    }
    &:before {
        background: radial-gradient(100% 100% at 50% 50%, $color-gray-3 0%, $color-gray-5 0%, rgba($color-green-2, .8) 100%);
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-radius: inherit;
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
        transition-property: opacity, visibility;
    }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    &__title {
    }
}

.box {
    background: rgba($color-blue-1, .1);
    backdrop-filter: blur(4px);
    font-size: var(--fs-6);
    border: 1px solid $color-blue-2;
    border-radius: 10px;
    &--theme {
        &-blue-light {
        }
    }
    &__inner {
        padding: 13px 34px;
        display: flex;
        align-items: center;
        @media (max-width: $sm) {
            padding: 8px 16px;
        }
    }
    &__picture {
        max-width: 55px;
        margin-right: 16px;
        flex: 0 0 55px;
        @media (max-width: $sm) {
            max-width: 44px;
            margin-right: 12px;
            flex-basis: 44px;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__text {
        margin: 0;
    }
}

.audience-card {
    background: $color-white-1;
    border: 2px solid $color-blue-10;
    border-radius: 10px;
    box-shadow: -18px 19px 0 rgba($color-blue-5, .19);
    position: relative;
    &:before {
        background: url(../images/icon/clip.png) 50% no-repeat;
        background-size: contain;
        width: 28px;
        height: 47px;
        content: '';
        position: absolute;
        top: -20px;
        left: 12px;
        pointer-events: none;
    }
    &__inner {
        padding: 30px 34px 44px;
        @media (max-width: $sm) {
            padding: 20px;
        }
    }
    &__picture {
        height: 216px;
        margin: 0 0 8px;
        position: relative;
        z-index: 0;
        @media (max-width: $sm) {
            height: 180px;
        }
        &:before {
            background: $color-blue-5;
            width: 126px;
            height: 126px;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            filter: blur(54px);
            z-index: -1;
            @media (max-width: $sm) {
                width: 110px;
                height: 110px;
            }
        }
        img {
            max-width: 100%;
            height: auto;
            max-height: 100%;
            margin: 0 auto;
            display: block;
        }
    }
    &__content {
        text-align: center;
    }
    &__title {
        margin: 0 0 2px;
    }
    &__text {
        font-size: var(--fs-8);
        line-height: 1.44;
    }
}

.program-card {
    &__inner {
        background: $color-white-1;
        backdrop-filter: blur(10px);
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 44px 32px;
        border: 2px solid $color-blue-10;
        border-radius: 10px;
        @media (max-width: $md) {
            padding: 20px;
        }
    }
    &__title {
        background: linear-gradient(180deg, $color-blue-13 0%, $color-white-1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 0 4px;
        font-weight: bold;
        font-size: 70px;
        line-height: 1;
        font-family: $ff-4;
        text-transform: uppercase;
        @media (max-width: $sm) {
            font-size: 50px;
        }
        @media (max-width: $xs) {
            font-size: 10vw;
        }
    }
    &__subtitle {
        margin: 0 0 10px;
        font-weight: bold;
        line-height: 1.15;
        font-size: var(--fs-6);
    }
    &__list {
        margin: 0 0 10px;
        padding: 0;
        font-size: var(--fs-9);
        list-style-type: none;
        li {
            margin: 0;
            padding: 0;
        }
    }
    &__result {
        margin-top: auto;
        font-size: var(--fs-9);
        line-height: 1.43;
        &-title {
            margin: 0 0 5px;
            font-weight: bold;
            font-size: var(--fs-8);
        }
        &-text {
            background: $color-green-5;
            margin: 0 -34px 0 -44px;
            padding: 8px 34px 8px 44px;
            border-radius: 0 7px 7px 0;
            @media (max-width: $md) {
                margin-right: -14px;
                margin-left: -20px;
                padding: 6px 14px 6px 20px;
            }
        }
    }
}

.tariffs-card {
    background: $color-white-1;
    padding: 20px 40px 30px;
    border: 2px solid $color-blue-10;
    border-radius: 10px;
    @media (max-width: $xs) {
        padding: 20px;
    }
    &--type-1 {
    }
    &--type-2 {
        background: $color-blue-14;
        color: $color-white-1;
        border-width: 0;
    }
    &--type-3 {
        background: linear-gradient(136deg, #D4E6F4 0%, #CBDBE6 18.23%, #B9D5EB 50.52%, #F8FBFD 100%);
    }
    &__title {
        margin: 0 -20px;
        font-weight: bold;
        font-size: 70px;
        font-family: $ff-4;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        @media (max-width: $xs) {
            font-size: 50px;
        }
    }
    &--type-1 &__title {
        color: $color-green-5;
    }
    &--type-2 &__title {
        color: $color-white-1;
    }
    &--type-3 &__title {
        color: $color-black-1;
    }
    &__subtitle {
        margin: 0 0 14px;
        padding: 0 0 0 24px;
        font-weight: bold;
        font-size: 25px;
        font-family: $ff-3;
        position: relative;
        &:before {
            background: $color-blue-5;
            width: 12px;
            height: 12px;
            content: '';
            transform: rotate(45deg);
            position: absolute;
            top: 10px;
            left: 0;
        }
    }
    &--type-1 &__subtitle {
    }
    &--type-2 &__subtitle {
        &:before {
            background: $color-green-5;
        }
    }
    &--type-3 &__subtitle {
        &:before {
            background: $color-black-4;
        }
    }
    &__list {
        margin: 0 0 14px;
        padding: 0;
        list-style-type: none;
        font-size: var(--fs-9);
        line-height: 1.43;
        li {
            margin: 0;
            padding: 0;
        }
    }
    &__date {
        margin: 0 0 10px;
        padding: 0 0 0 24px;
        font-weight: bold;
        font-size: var(--fs-8);
        line-height: 1.5;
        font-family: $ff-3;
        position: relative;
        &:before {
            background: $color-blue-5;
            width: 12px;
            height: 12px;
            content: '';
            transform: rotate(45deg);
            position: absolute;
            top: 6px;
            left: 0;
        }
    }
    &--type-1 &__date {
    }
    &--type-2 &__date {
        &:before {
            background: $color-green-5;
        }
    }
    &--type-3 &__date {
        &:before {
            background: $color-black-4;
        }
    }
    &__price {
        margin: 24px -20px 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--fs-9);
        font-family: $ff-3;
        color: $color-black-1;
        flex-wrap: wrap;
        span {
            margin: 0 .2ch;
            font-size: 34px;
        }
    }
    &__sold {
        background: $color-green-5;
        margin: 25px -30px 0 -40px;
        padding: 10px 30px 10px 40px;
        font-weight: bold;
        font-size: 40px;
        font-family: $ff-3;
        color: $color-black-1;
        text-align: center;
        text-transform: uppercase;
        border-radius: 0 7px 7px 0;
        @media (max-width: $xs) {
            margin-right: -15px;
            margin-left: -20px;
            padding-right: 15px;
            padding-left: 20px;
        }
    }
    &__footer {
        margin: 25px -25px 0;
        @media (max-width: $xs) {
            margin-right: -10px;
            margin-left: -10px;
        }
    }
    &__btn {
        width: 100%;
        font-family: $ff-3;
        color: $color-black-1;
        text-transform: none;
    }
}