// typography
$ff-1: 'Manrope', Arial, sans-serif;
$ff-2: 'Montserrat', Arial, sans-serif;
$ff-3: 'Sansation', Arial, sans-serif;
$ff-4: 'Steelfish', Arial, sans-serif;

// pallets
$color-black-1: #000;
$color-black-2: #525252;
$color-black-3: #373737;
$color-black-4: #434343;
$color-black-5: #6C6C6C;
$color-black-6: #222222;
$color-white-1: #fff;
$color-accent-1: #E8FF01;
$color-gray-1: #4D4D4D;
$color-gray-2: #949494;
$color-gray-3: #F1F5FF;
$color-gray-4: #898484;
$color-gray-5: #DFFFF9;
$color-blue-1: #5F9BFF;
$color-blue-2: #92BBFF;
$color-blue-3: #C2E8FF;
$color-blue-4: #C8DAEC;
$color-blue-5: #61A6DB;
$color-blue-6: #1D71A4;
$color-blue-7: #68C0F1;
$color-blue-8: #367691;
$color-blue-9: #F0F8FF;
$color-blue-10: #90B7D5;
$color-blue-11: #8CB8FF;
$color-blue-12: #336BD3;
$color-blue-13: #84CAED;
$color-blue-14: #62A8DC;
$color-purple-1: #6D79CC;
$color-green-1: #336D66;
$color-green-2: #16E1C7;
$color-green-3: #4D988E;
$color-green-4: #3E697A;
$color-green-5: #43E8D2;

// media breakpoints
$xl: 1440px;
$xl-mf: $xl + 1;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs;